[Unit]
Description=Kopuz Website Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/temidaradev/Projects/kopuz-website/current
EnvironmentFile=-/home/temidaradev/Projects/kopuz-website/shared/kopuz-website.env
ExecStart=/usr/bin/env \
    LEPTOS_OUTPUT_NAME=kopuz-website \
    LEPTOS_SITE_ROOT=/home/temidaradev/Projects/kopuz-website/current/site \
    LEPTOS_SITE_PKG_DIR=pkg \
    LEPTOS_SITE_ADDR=0.0.0.0:8090 \
    LEPTOS_RELOAD_PORT=3001 \
    SPONSORS_STATE_PATH=/home/temidaradev/Projects/kopuz-website/shared/sponsors_state.json \
    /home/temidaradev/Projects/kopuz-website/current/kopuz-website
Restart=always
RestartSec=5
User=temidaradev
Group=temidaradev

[Install]
WantedBy=multi-user.target
